body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {
  height: 100%;
  line-height: 1.8;
  color: White;
  background-color: #118594; /* For browsers that do not support gradients */
  background-image: linear-gradient(to bottom right, #043d49, #044758, #118594, #1e9eaf, #4ec9d1);
}

.text_box {
  width: 100%;
  text-align: center !important;
  justify-content: center;
  display: flex;
  height: 100%;
  align-items: center;

}

.hidden{
	display: none;
}
.shown{
	display: contents;
}